@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: "Indie Flower", cursive;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

ol li {
  font-family: sans-serif;
  color: gold;
}

.link-button {
  color: rgb(59, 59, 59);
  background-color: silver;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.text-input {
  background-color: white;
  border: 3px solid rgb(105, 105, 105);
  font-size: 20px;
  padding: 10px;
  outline: none;
}
